@import "variables";

.m-b-md {
    margin-bottom: 30px;
}

.card {
    margin: 20px 0;
}

.btn-primary {
    background-color: $color-easypost-blue-primary;
    border: initial;
    color: $color-white;
}

.btn-primary:hover {
    background-color: $color-easypost-blue-secondary;
    border: initial;
    color: $color-white;
}

.navbar-toggler {
    margin-top: 0 !important;
}
