// Colors
$color-white: #fff;
$color-font: #636b6f;
$color-easypost-blue-primary: #303f9f; // TODO: These are the old colors, update to the new branding
$color-easypost-blue-secondary: #00a0e1; // TODO: These are the old colors, update to the new branding
$subtle-yellow: rgb(250 246 218);
