// Variables

$color-white: #fff;
$color-font: #636b6f;
$color-easypost-blue-primary: #303f9f;
$color-easypost-blue-secondary: #00a0e1;

// Elements

html,
body {
  background-color: $color-white;
  color: $color-font;
  font-family: Nunito, sans-serif;
  font-weight: 200;
}

button,
[type="submit"] {
  margin-top: 20px;
}

a {
  color: $color-easypost-blue-secondary;
}

a:hover {
  color: $color-easypost-blue-primary;
  text-decoration: none;
  font-weight: 200;
}

h1 {
  color: $color-easypost-blue-primary;
  margin-top: 30px;
}

h3 {
  margin-top: 20px;
}

pre {
  text-align: left;
}

label {
  font-weight: bold;
}

table {
  width: 100%;
}

// Overrides

.m-b-md {
  margin-bottom: 30px;
}

.card {
  margin: 20px 0;
}

.btn-primary {
  background-color: $color-easypost-blue-secondary;
  color: $color-white;
}

.btn-primary:hover {
  background-color: $color-easypost-blue-primary;
  border: solid 1px $color-easypost-blue-primary;
  color: $color-white;
}

.navbar-toggler {
  margin-top: 0 !important;
}

// Custom

.alert {
  text-align: left;
}

.clear-results-link a {
  color: $color-easypost-blue-secondary;
  margin: 0;
  padding: 0;
}

.clear-results-link a:hover {
  opacity: 0.7;
}

#sidebar-wrapper .sidebar-heading a {
  text-decoration: none;
  color: initial;
  font-weight: 200;
}

.response-wrapper {
  margin-top: 20px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.response {
  flex: 0 0 auto;
  width: 100%;
  padding: 20px;
  font-family: Nunito, sans-serif;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0 1.25rem 0.5rem;
  font-size: 1.2rem;
  margin-top: 20px;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  margin-top: 0;
}

.btn-label {
  margin-bottom: 40px;
  width: 180px;
  padding: 10px;
}

.btn-table {
  margin-top: 0 !important;
}

.btn-shipment {
  margin-top: 0 !important;
  margin-bottom: 10px !important;
}

.rate-errors-bg {
  background-color: rgb(250 246 218) !important;
}

.rate-errors-card {
  margin-bottom: 30px;
}

.padding-0 {
  padding: 0;
}

.display-none {
  display: none;
}

.inline-block {
  display: inline-block;
}

// Media Queries

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
