html,
body {
    background-color: #fff;
    color: #636b6f;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.top-left {
    position: absolute;
    left: 10px;
    top: 18px;
}

.actions {
    margin-bottom: 30px;
}

.m-b-md {
    margin-bottom: 30px;
}

pre {
    text-align: left;
}

.alert {
    text-align: left;
}

button,
[type="submit"] {
    margin-top: 20px;
}

a {
    color: #2396fb;
}
a:hover {
    color: #303f9f;
}

h1 {
    color: #303f9f;
    margin-top: 30px;
}

.clear-results-link a {
    color: #2396fb;
    margin: 0;
    padding: 0;
}

.clear-results-link a:hover {
    opacity: 0.7;
}

label {
    font-weight: bold;
}

h3 {
    margin-top: 20px;
}

.response-wrapper {
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.response {
    flex: 0 0 auto;
    width: 100%;
    padding: 20px;
    font-family: "Nunito", sans-serif;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0 1.25rem 0.5rem 1.25rem;
    font-size: 1.2rem;
    margin-top: 20px;
}

#sidebar-wrapper .sidebar-heading a,
a:hover {
    text-decoration: none;
    color: initial;
    font-weight: 200;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

#menu-toggle {
    margin-top: 0;
}

.btn-primary {
    background-color: #2396fb;
    // override Bootstrap 5 default
    color: #fff;
}
.btn-primary:hover {
    background-color: #303f9f;
    border: solid 1px #303f9f;
    color: #fff;
}
.btn-label {
    margin-bottom: 40px;
    width: 180px;
    padding: 10px;
}

.navbar-toggler {
    margin-top: 0 !important;
}

.rate-title {
    font-weight: bold;
}

table {
    width: 100%;
}

.btn-table {
    margin-top: 0 !important;
}

.btn-shipment {
    margin-top: 0 !important;
    margin-bottom: 10px !important;
}

.rate-errors-bg {
    background-color: rgb(250, 246, 218) !important;
}
.rate-errors-card {
    margin-bottom: 30px;
}

.padding-0 {
    padding: 0;
}

.display-none {
    display: none;
}

.top-margin-20 {
    margin-top: 20px;
}

.card {
    margin: 20px 0;
}

.inline-block {
    display: inline-block;
}
