# Exclude everything we won't need for a production build.
# NOTE: These will be volumed during development but excluded in production 
# unless explicitly put there by the build process.
**/.DS_Store
**/.editorconfig
**/.env*
**/.gitattributes
**/.gitignore
**/.styleci.yml
**/*.md
**/*.xml
**/bin
**/node_modules
**/phpstan.neon
**/tests
**/vendor
