name: build

on:
  push:
    tags:
      - '*'
  workflow_dispatch: ~

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: justintime50/composite-actions/publish-public-image@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          image_name: justintime50/easypost-tools-ui
          image_tag: ${GITHUB_REF##*/v}
